#tabs{
	position: relative;
	padding-right:5%;
	display: inline;

}
#tabs ul { 
	list-style: none;
	padding:0;
	margin:0;
	display: inline;
	}
#tabs li {
	float: right;
	margin: 0 0.5%  1em 0;
}
/* Enlace en pestaña*/
#tabs li a {
	font-weight:600;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
}
#tabs a:hover {
background: #5FCF80;
color: #fff;
text-decoration: none;
}

#tabs a:active {
background: #5FCF80;
color: #fff;
}

/* Fin CSS TABS*/
/*Breadcrumnbs*/
#bread {
	 font-weight:bold;
	 text-decoration: none;
}
/* Información detallada del view o form*/
div.detallado {
	/*float:right;*/
	margin-top: 20px;
    width:90%;
	border-top: 2px solid rgba(102, 102, 102, 0.92);
}
div.detallado h3{
	padding-top:20px;
	color:#2C6877;/*Retocado para div.detallado*/
}
/**Bajo tabla**/
div .btabla{
	float:right;
	padding: 0.5%;
}
.btabla ul {
	position: relative;
	display: inline;
}
.btabla li {
	list-style-type: none;
	white-space: nowrap;
}
.btabla ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Botones y enlace de botones bajotabla */
input[type=submit],
.btabla ul li a,
.btabla a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	text-shadow: 0px 1px 1px #bbb;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.btabla ul li a:hover,
.btabla a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active,
.btabla ul li a:active,
.btabla a:active {
	background: #5FCF80;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #5FCF80);
	background-image: -ms-linear-gradient(top, #dfdfdf, #5FCF80);
	background-image: -o-linear-gradient(top, #dfdfdf, #5FCF80);
	background-image: linear-gradient(top, #dfdfdf, #5FCF80);
	text-shadow: #5FCF80 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}

/*Columnas dentro del index y form */
/* IDs */
.col2{
	display: inline;
 -webkit-columns: 2;
    -moz-columns: 2;
         columns: 2;
 -webkit-column-gap: 20px;/* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
		 column-gap: 20px;
 -webkit-column-rule: 1px dotted #ddd;
	 -moz-column-rule: 1px dotted #ddd;
   		 column-rule: 1px dotted #ddd;
}
.columna2{
 -webkit-columns: 2 50px;
    -moz-columns: 2 50px;
         columns: 2 50px;
 -webkit-column-gap: 40px;/* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
		 column-gap: 40px;
 -webkit-column-rule: 1px dotted #ddd;
	 -moz-column-rule: 1px dotted #ddd;
   		 column-rule: 1px dotted #ddd;
}

.columna3{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */	
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	-moz-column-gap: 40px; /* Firefox */
	column-gap: 40px;
  -webkit-column-rule: 1px dotted #ddd;
     -moz-column-rule: 1px dotted #ddd;
          column-rule: 1px dotted #ddd;
}

/*Botones genéricos y en tabla de detalle*/

div.boton {
	clear: both;
	margin-top: 0.5%;
}
.boton, input[type="submit"] {
	font-weight:normal;
	padding: 2px 5px;
	text-align: center; 
 	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	text-shadow: 0px 1px 1px #bbb;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
	text-decoration: none;
	display:block;
}

.boton a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}

/*Botón de modificación y borrado en tabla*/
div.botond {
	clear: both;
	margin-top: 0.5%;
}
.botond, input[type="submit"] {
	font-weight:normal;
	padding: 2px 5px;
	text-align: center; 
 	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	text-shadow: 0px 1px 1px #bbb;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
	text-decoration: none;
}

.botond a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}


/*Exportar información*/
div.exp {
	float:left;
	position:relative;
	bottom: -300px;

    
}
div.exp h3 {
	padding-top:0;
	color:#777;
}
.exp ul li a,
.exp a {
	margin: 0px 2px;
	font-weight:normal;
	text-align: center;
	display: inline-block;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
}
.exp .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.exp .next {
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.exp ul li a:hover,
.exp a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active,
.exp ul li a:active,
.exp a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}
.exp .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.exp .next {
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}

/*Tabla para cuadrar elementos*/
}
.tabla table {
	border-right:0;
	/*clear: both;*/
	float:left;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
	font-weight: normal;
}
.tabla th {
	/*border:0;*/
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
 .tabla th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

}
.tabla table tr td {
	padding: 0.5%;
	padding-left: 1%;
	text-align: justify;
	vertical-align: middle;
	border-bottom:0px solid #ddd;
}

/*Boton tras texto o desplegable alineado */
.formuboton{
	position: relative;
	padding-right:5%;
	width:250px;
}

.formuboton ul { 
	list-style: none;
	padding:1em;
	margin:0;
	display: inline;
	}
.formuboton li {
	float: left;
	margin: 0px 10px 0px 0px;
}
.formuboton .enlinea{
	padding-top: 20px;
}