@charset "utf-8";

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	color: #000000;
	font-family:verdana,helvetica,arial,sans-serif;
	font-size:100%;
	margin: 0;
	font-weight: 500;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	color: #000000;
	text-align:center;
	font-size: 140%;
	margin-bottom: 0.5em;
}
h2 {
	color:#990033;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
}
h3 {
	color:  #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 110%;
	font-weight: bold;
}
h4 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
}
h5 {
	color: #000;
	font-size: 90%;
	font-weight: bold;
}
ul, li {
	margin: 0 1px;
}
ul, ol {
	list-style:none;
}
p {
	margin: 0 0 1em 0;
}

/** Layout **/
#container {
	text-align: left;
}

#content{
	clear: both;
	color: #333;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 20em;
}
/** containers **/
div.menuheader{
float: right;
margin:0px;
/*width: 70%; Se cambia*/	
}

div.form,
div.index,
div.view {
//*	float:right;
	border-left: 2px solid rgba(102, 102, 102, 0.92);
/*	width:76%;
	padding:1% 2%;*/

	width: 80%;
	/*padding: 1% 0% 8% 2%;*/
}
.view .negrita{
	float:right;
	font-weight: bold;
}

/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
	font-weight: normal;
	font-size: 90%;
}
th {
	border-bottom:2px solid #555;
	text-align: center;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 0.5% 0.5% 0.5% 1%;
	text-align: justify;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #F6F9FA;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}


/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	font-size: 78%;
	/*width: 90%;*/
	/*width:100%;*/
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #F6F9FA;
}

dt {
	font-weight: bold;
	padding-left: 1%;
	vertical-align: top;
	width: 30%;
}	
dd {
	margin-left: 30%;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	/*margin-bottom: 1em;*/
	padding: 10px 0px;
	float: left;
	/*display: block;*/
	/*width: 15%;*/
	width: 47%;
	/*margin-right: 10px; 
	margin: 0 30px 10px 0;*/
	margin: 0 15px 0px 10px;
}
fieldset legend {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	font-size: 125%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form div {
	clear: both;
	margin-bottom: 1em;
	/*padding: .5em;*/
	vertical-align: text-top;
}
form .input {
	display: block;
	/*width: 15em;*/
	color: #444;/**/

}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	float: right;
	border: 0;
	clear: both;
	/*margin-top: 1.5%; Botones formularios demasiado separados*/
	margin-right: 10px;
}

form :focus {
	border: 2px solid #4C9ED9;
	background: #F6F6F6;
}
label {
	display: block;
	/*display: inline; si quiere la etiqueta pegada al campo*/
	font-weight: bold; /*Títulos text area en negrita*/
	font-size: 110%;
	margin-bottom:2px;
}
input, textarea {
	clear: both;
	font-size: 110%;
	font-family: "frutiger linotype", "verdana", sans-serif;
	padding: 0.1%;
	width:98%;
	display:inline; /*Formulario visto en línea*/
}
select {
	clear: both;
	font-size: 100%;
	vertical-align: text-bottom;
	display: block;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}

input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 100%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #000000;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 4px 8px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

ul { 
	list-style: disc;
	padding:0 5 5 100 ;
	/*margin:40;*/
}
li{
	padding:5;
}
